# Assigment 3
This assigment focuses on getting comfortable with working with multidimensional data and linear regression.
Key items include:
- Creating random n-dimensional data
- Creating a Model that can handle the data
- Plot a subset of the data along with the prediction
- Using a Dataset to read in and choose certain columns to produce a model
- Create several models from various combinations of columns
- Plot a few of the results
- BONUS: Perform all the plots in 3D instead of 2D

## 1. Create a 4 dimensional data set with 64 elements and show 2D plots of the data $x_1 \rightarrow y, x_2 \rightarrow y$, etc.

## 2.  Create a model to fit the data. Hint: follow the example from Lesson 3

## 3. Plot the model's prediction in 2D for 2 of the dimensions ($x_1 \rightarrow y_p, x_2 \rightarrow y_p$) along with the original points

## 4. Read in `mlnn/data/Credit.csv` with Pandas and create a model to predict Credit Rating (`Rating`). Use only the numeric columns in your model, but feel free to experiment which which columns you believe are better predicters of Credit Rating

In [4]:
import pandas as pd
credit = pd.read_csv('../data/Credit.csv')
credit.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [45]:
X = credit[['Income', 'Limit']].as_matrix()

X = np.vstack([X.T, np.ones(len(X))]).T
X

array([[  1.48910000e+01,   3.60600000e+03,   1.00000000e+00],
       [  1.06025000e+02,   6.64500000e+03,   1.00000000e+00],
       [  1.04593000e+02,   7.07500000e+03,   1.00000000e+00],
       ...,
       [  5.78720000e+01,   4.17100000e+03,   1.00000000e+00],
       [  3.77280000e+01,   2.52500000e+03,   1.00000000e+00],
       [  1.87010000e+01,   5.52400000e+03,   1.00000000e+00]])

In [19]:
y = credit['Rating']

### 5. Plot your results (Bonus if you use 3D plots). Show as many of your columns vs. credit rating that you can.